@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
/* Common Style Starts */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Noto Serif", serif;
}
p {
  font-family: "Inter", sans-serif;
  color: #00000050;
}
.Bold {
  font-weight: 700;
}
.navcolor {
  color: #8987a1;
}
.Highlight {
  color: #e95a08;
}
.btn {
  background-color: #e95a08;
  padding: 26px 50px;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}
/* Common Style Ends */
header {
  /* border: red solid 1px; */
  width: 80%;
  margin: 30px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a span i {
  margin-right: 10px;
}
nav a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  color: #252432;
  font-size: 1rem;
}
nav {
  display: flex;
  gap: 48px;
}
/* Hero Section Starts */
#hero {
  /* border: 1px solid red; */
  width: 80%;
  margin: 12.5vw auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
#hero h1 {
  font-size: 4.06rem;
}
.hero-text p {
  font-size: 1.375rem;
}
.hero-text,
.hero-image {
  width: 50%;
}
.hero-image img {
  width: 100%;
  display: block;
}
/* Hero Ends */

/* Plants Section Starts */
.plants-Heading-p {
  width: 77%;
  margin: 1rem auto 3.125rem auto;
}
#Plants-Section h1 {
  font-size: 3.125rem;
}
#Plants-Section {
  width: 80%;
  margin: 12.5vw auto 5.7vw auto;
  text-align: center;
}
.Plants-Cards-Containen {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 30px;
  column-gap: 20px;
}
.Plants-cards h5 {
  margin-bottom: 30px;
  font-weight: 900;
  font-family: "inter", sans-serif;
  font-size: 1.357rem;
}
.cards-p {
  color: black;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.357rem;
}
.Plants-cards img {
  width: 100%;
}
/* Plants Section Ends */

/* Trust Section Starts */
.Trust-Section-Container {
  width: 80%;
  margin: 0 auto;
}
.Trust-Section {
  display: flex;
  gap: 120px;
  align-items: center;
  justify-content: space-between;
}
.Trust-Img-Container {
  z-index: -1;
}
.Trust-Badge-Container img {
  width: 100%;
}
.Trust-Badge-Container {
  width: 25%;
  margin-left: 380px;
  margin-bottom: -160px;
}
.Trust-Text-Container ul li {
  color: #00000050;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}
.Trust-Text-Container h1 {
  font-size: 3.125rem;
  font-weight: 900;
  margin-bottom: 1.25rem;
}
/* Trust Section Ends */

/* Latest Deal Section Starts */
.Latest-Deal-Section-Container {
  width: 80%;
  margin: 10vw auto;
  text-align: center;
}
.Latest-Deals-Headings {
  width: 50%;
  margin: 0 auto 5vw auto;
}
.Latest-Deals-Img-Container a {
  margin-top: 20px;
  color: white;
  font-weight: 500;
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
}
.Latest-Deals-Img-Container h4 {
  font-size: 1.25rem;
  font-weight: 700;
}
.Latest-Deals-Img-Container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 25px 28px;
}
.Latest-Deals-Img-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 14px;
  height: 201px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./Img/deal-bloom.png);
  background-size: cover;
  grid-row: 1/2;
  grid-column: 1/2;
}
.Latest-Deals-Img-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 14px;
  height: 203px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./Img/deal-ana.png");
  background-size: cover;
  grid-row: 2/3;
  grid-column: 1/2;
}
.Latest-Deals-Img-3 a {
  font-size: 1.75rem;
}
.Latest-Deals-Img-3 h4 {
  font-size: 2.5rem;
  font-weight: 700;
}
.Latest-Deals-Img-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 22px;
  height: 433px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(./Img/deal-zabo.png);
  background-size: cover;
  grid-row: 1/3;
  grid-column: 2/4;
}
.Latest-Deals-Headings h1 {
  font-size: 3.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.Latest-Deals-Img-Container img {
  border-radius: 14px;
  width: 100%;
}
/* Latest Deal Section Ends */
@media Screen and (max-width: 432px) {
  /* Header Section starts */
  header {
    width: 95%;
    margin-top: 13px;
  }
  .Hidden {
    display: none;
  }
  /* Header Section Ends */

  /* Hero Section Starts */
  #hero {
    flex-direction: column-reverse;
    width: 100%;
  }
  .hero-image {
    width: 100%;
  }
  #hero .hero-text h1,
  #hero .Highlight {
    font-size: 1.5rem;
    font-weight: 700;
  }
  #hero .hero-text h1 {
    width: 60%;
  }
  .hero-text p {
    font-size: 0.875rem;
  }
  .hero-text {
    width: 92%;
    margin: 6.6vw auto;
  }
  /* Hero Section Ends */

  /* Plants Section Starts */
  #Plants-Section {
    width: 92%;
  }
  #Plants-Section h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  .plants-Heading-p {
    font-size: 0.857rem;
  }
  .Plants-Cards-Containen {
    grid-template-columns: 1fr 1fr;
  }
  .cards-p {
    font-size: 1rem;
  }
  .Plants-cards h5 {
    font-size: 1rem;
  }
  /* Plants Section Ends */

  /* Trust Section Starts */
  .Trust-Section-Container {
    width: 92%;
    margin-top: 200px;
  }
  .Trust-Section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .Trust-Badge-Container img {
    display: none;
  }

  .Trust-Img-Container img {
    width: 100%;
  }
  .Trust-Img-Container {
    width: 100%;
  }
  .Trust-Text-Container {
    width: 100%;
  }
  .Trust-Text-Container h1 {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .Trust-Text-Container ul {
    padding-left: 30px;
  }
  .Trust-Text-Container ul li {
    font-size: 0.875rem;
    margin-bottom: 0.875rem;
  }
  /* Trust Section Ends */

  /* Latest Deal Section Starts */
  .Latest-Deal-Section-Container{
    width: 92%;
    margin: 10vw auto;
    text-align: center;
  }
  .Latest-Deals-Headings{
    width: 100%;
    margin: 0 auto 5vw auto;
  }
  .Latest-Deals-Headings h1{
    font-size: 1.5rem;
  }
  .Latest-Deals-Headings p{
    font-size: 0.875rem;
  }
  .Latest-Deals-Img-Container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Latest-Deals-Img-Container div a{
    font-size: 1rem;
    font-weight: 500;
  }
  .Latest-Deals-Img-Container div h4{
    font-size: 1.25rem;
    font-weight: 600;
  }
  .Latest-Deals-Img-Container div{
    width: 100%;
    height: 200px;
  }
  /* Latest Deal Section Ends */

}
